{% extends 'base.html' %}

{% block content %}
  
    <!-- Start Content -->
    <div id="home" class="w3-content">
        <!-- Image -->
        <!-- <img src="../static/images/img_01.jpg" alt="" style="width:100%"> -->
        <img src="{{baseUrl}}/img_01.jpg" alt="test" style="width:100%">
        <br><br>
    <!-- End Content -->
    </div>
  
    <div class="w3-container w3-center w3-teal">
        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>
        <p>This is another paragraph.</p>
    </div>

    <p>
        <button onclick="w3.hide('#London')">Hide London</button>
        <button onclick="w3.show('#London')">Show London</button>
        <button onclick="w3.hide('#Paris')">Hide Paris</button>
        <button onclick="w3.show('#Paris')">Show Paris</button>
        <button onclick="w3.hide('#Tokyo')">Hide Tokyo</button>
        <button onclick="w3.show('#Tokyo')">Show Tokyo</button>
    </p>

    <div id="London" class="w3-container w3-red">
        <h2>London</h2>
        <p>London is the capital city of England.</p>
    </div>
    <div id="Paris" class="w3-container w3-green">
        <h2>Paris</h2>
        <p>Paris is the capital of France.</p> 
    </div>
    <div id="Tokyo" class="w3-container w3-blue">
        <h2>Tokyo</h2>
        <p>Tokyo is the capital of Japan.</p>
    </div>

{% endblock %}


<!--
{% load static %}
{% static "images" as baseUrl %}

  <div class="intro_icon"><img src="{% static 'images/wallet.svg' %}" alt="">

  {% for dest in dests %}
  <!-- Destination -->
  <div class="destination item">
    <div class="destination_image">
      <!-- <img src="{{baseUrl}}/{{dest.img}}" alt=""> -->
          <img src="{{dest.img.url}}" alt="">
  
          {% if dest.offer %}
          <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
          {% endif %}
  
    </div>
    <div class="destination_content">
      <div class="destination_title"><a href="destinations.html">{{dest.name}}</a></div>
      <div class="destination_subtitle"><p>{{dest.desc}}</p></div>
      <div class="destination_price">From ${{dest.price}}</div>
    </div>
  </div>
  {% endfor %}
-->