*.pyc
*~
/.vscode
__pycache__
myvenv
my_venv
db.sqlite3
/static
.DS_Store
/*/*.pyc
/*/*~
/*/.vscode
/*/__pycache__
/*/myvenv
/*/my_venv
/*/db.sqlite3
/*/static
/*/.DS_Store
/*/*/*.pyc
/*/*/*~
/*/*/.vscode
/*/*/__pycache__
/*/*/myvenv
/*/*/my_venv
/*/*/db.sqlite3
/*/*/static
/*/*/.DS_Store
/*/*/*/*.pyc
/*/*/*/*~
/*/*/*/.vscode
/*/*/*/__pycache__
/*/*/*/myvenv
/*/*/*/my_venv
/*/*/*/db.sqlite3
/*/*/*/static
/*/*/*/.DS_Store
