/.vs
/.vscode
*.pyc
*~
*/.idea
__pycache__
myvenv
my_venv
# db.sqlite3
# !dj_realpython/School/db.sqlite3
py__ebook__crashkurs/.idea/py__ebook__crashkurs.iml
.DS_Store
**/.vs
**/.vscode
**/*.pyc
**/*~
**/__pycache__
**/myvenv
**/my_venv
# **/db.sqlite3
**/.DS_Store
**/.idea
#
boot-strap
#
# /static
# **/static
# **/*.zip
