{% extends 'layout/base.html' %}

{% block title %} 
    post_show
{% endblock title %}


{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">entry_show</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">entry: show . . .</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                <strong>Entry:</strong> {{data.id}}<br><hr>
                text:  {{data.text}}<br><hr>
                is_checked: {{data.is_checked}}  -  
                is_active: {{data.is_active}}<br>
                date_beg:  {{data.date_beg}}  -  
                date_end: {{data.date_end}}  -  
                date_created: {{data.date_created}}  -  
                date_modified: {{data.date_modified}}
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>text</th>
                            <th>date_created</th>
                            <th>date_modified</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>id</th>
                            <th>text</th>
                            <th>date_created</th>
                            <th>date_modified</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for d in del %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.text}}</td>
                            <td>{{d.date_created}}</td>
                            <td>{{d.date_modified}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock body %}


Entry:  id,             text,                   date_created,   date_modified

