{% extends 'layout/base.html' %}

{% block title %} 
    post_list
{% endblock title %}


{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">post_list</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">post: list . . .</li>
        </ol>

        <p>POSTS</p>
        <ul>
            {% for d in data %}
    	        <li>{{ d }}</li>
            {% empty %}
                <li>No DATA have been added yet</li>
            {% endfor %}
        </ul>

    </div>
</main>

{% endblock body %}
