{% extends 'layout/base.html' %}

{% block title %}
    topic_list
{% endblock title %}


{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">topic_list</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">topic: list . . .</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                <a href="{% url 'app_blogs:topic_add' %}">Add a new topic</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>topic</th>
                            <th>is_checked</th>
                            <th>is_active</th>
                            <th>date_beg</th>
                            <th>date_end</th>
                            <th>date_created</th>
                            <th>date_modified</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>id</th>
                            <th>topic</th>
                            <th>is_checked</th>
                            <th>is_active</th>
                            <th>date_beg</th>
                            <th>date_end</th>
                            <th>date_created</th>
                            <th>date_modified</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td><a href="{% url 'app_blogs:topic_edit' d.id %}">{{d.id}}</a></td>
                            <td>{{d.topic}}</td>
                            <td>{{d.is_checked}}</td>
                            <td>{{d.is_active}}</td>
                            <td>{{d.date_beg}}</td>
                            <td>{{d.date_end}}</td>
                            <td>{{d.date_created}}</td>
                            <td>{{d.date_modified}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</main>


{% endblock body %}
