{% extends 'layout/base.html' %}

{% block title %} 
    login
{% endblock title %}


{% block body %}

<main>
    <div class="container-fluid px-4">

        <h1 class="mt-4">login</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">. . .</li>
        </ol>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button name="submit">Log in</button>
            <input type="hidden" name="next" value="{% url 'app_blogs:index' %}" />
        </form>

    </div>
</main>

{% endblock body %}